<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Url Builder</title>
</head>
<body>
	<input type="text" id="Alias" placeholder="Alias">
	<input type="text" id="Url" placeholder="Url">
	<input type="text" id="Email" placeholder="Email">
	<input type="text" id="EmailNumber" placeholder="Email Number">
	<input type="text" id="EmailType" placeholder="Email Type">
	<input type="text" id="utm_source" placeholder="utm_source">
	<input type="text" id="utm_medium" placeholder="utm_medium">
	<input type="text" id="utm_campaign" placeholder="utm_campaign">

	<button id="button">Copy URL</button>
	<script type="text/javascript">
		function copyText(e) {
			let Alias = document.getElementById("Alias");
			let Url = document.getElementById("Url");
			let Email = document.getElementById("Email");

			let EmailNumber = document.getElementById("EmailNumber");
			let EmailType = document.getElementById("EmailType");

			let utm_source = document.getElementById("utm_source");
			let utm_medium = document.getElementById("utm_medium");
			let utm_campaign = document.getElementById("utm_campaign");

			let url = window.location.href + Alias.value + '/?e_url=' + Url.value + '&e_email=' + Email.value;
			if (EmailNumber.value != ''){
				url = url + '&e_email_number=' + EmailNumber.value;
			}
			if (EmailNumber.value != ''){
				url = url + '&e_email_type=' + EmailType.value;
			}

			if (utm_source.value != ''){
				url = url + '&utm_source=' + utm_source.value;
			}
			if (utm_medium.value != ''){
				url = url + '&utm_medium=' + utm_medium.value;
			}
			if (utm_campaign.value != ''){
				url = url + '&utm_campaign=' + utm_campaign.value;
			}
			navigator.clipboard.writeText(url);
		}
		let button = document.getElementById("button");
		button.addEventListener('click', copyText)
	</script>
</body>
</html>